<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="{{url_for('static',filename='images/favicon.ico')}}" rel="icon" />

  <link href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <!-- Include the above in your HEAD tag -->

  {%if title%}
  <title>What's the weather Up there!-{{title}}</title>
  {%else%}
  <title>What's the weather Up there!</title>
  {%endif%}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
    .bs-example {
      margin: 5px;
    }
  </style>
</head>



<body>
  <nav class="navbar navbar-expand-sm font-weight-lighter" style="background-color: rgba(5, 150, 155, 0.781);">
    <a class="navbar-brand text-white" href="{{url_for('index')}}">What's the Weather Up there!</a>
  </nav>

  <div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="bs-example flashes alert alert-danger text-center" role="alert">
      {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %} {% endwith %}
  </div>
  {%block content%}{%endblock%}

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <!-- © 2019 RaphicHub -->
      Page Down!
      <br />Designed with <i style="color:red" class="fa fa-heart "></i> by <span class="font-weight-bold">Rapheal Mensah </span>and hosted on <a class="text-decoration-none" href="https://github.com/ralphmensah/weather" target="_blank">GitHub<i
          class="fa fa-github"></i></a>
      <br /> Let's connect <a style="text-decoration: none" href="https://twitter.com/ralphmensah_" target="_blank">Twitter<i class="fa fa-twitter"></i></a>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>
