{% extends "layout.html" %} {% block content %}

















<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 RaphicHub
    <br />Designed with <i style="color: red;" class="fa fa-heart"></i> by
    <span class="font-weight-bold">Rapheal Mensah </span>and hosted on
    <a class="text-decoration-none" href="https://github.com/ralphmensah/weather" target="_blank">GitHub<i
        class="fa fa-github"></i></a>
    <br />
    Let's connect
    <a style="text-decoration: none;" href="https://twitter.com/iam_freakie" target="_blank">Twitter<i
        class="fa fa-twitter"></i></a>
  </div>
</footer>

{% endblock%}